---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Brendan Asselstine"
	pubDate={new Date('February 26 2026')}
>
	<p>
		I'm Brendan Asselstine, a software engineer. This is my personal blog where I share
		my thoughts on software development, technology, and whatever else I'm working on.
	</p>
	<p>
		Feel free to reach out on <a href="https://github.com/asselstine">GitHub</a>.
	</p>
</Layout>
